<nb-card>
    <nb-card-header style="text-align: center">{{
        "TẠO CÂU HỎI MỚI!"
        }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="notificationForm">
            <div class="row">
                <div class="col-md-4">
                    <label for="content">Nội dung</label>
                    <input type="text" id="content" formControlName="content" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="id_student">Mã sinh viên (Nếu có)</label>
                    <input type="text" id="id_student" formControlName="id_student" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="type">Loại thông báo</label>
                    <br/>
                    <nb-select placeholder="Trạng thái" id="type" formControlName="type" style=" width: 200px;" >
                        <nb-option value="1">Tất cả sinh viên</nb-option>
                        <nb-option value="2">Cho 1 sinh viên</nb-option>
                        <nb-option value="3">Ngành Công nghệ thông tin</nb-option>
                        <nb-option value="4">Ngành An toàn thông tin</nb-option>
                        <nb-option value="5">Ngành Kỹ thuật điện tử viễn thông</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="row" style="margin-top: 20px;"> 
                <div class="col-md-4">
                    <label for="start_date">Ngày bắt đầu</label>
                    <input type="text" id="start_date" formControlName="start_date" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="end_date">Ngày kết thúc</label>
                    <input type="text" id="end_date" formControlName="end_date" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="status">Trạng thái</label>
                    <br/>
                    <nb-select placeholder="Trạng thái" id="status" formControlName="status" style=" width: 200px;" >
                        <nb-option value="1">Hiển thị</nb-option>
                        <nb-option value="2">Chưa hiển thị</nb-option>
                    </nb-select>
                </div>
            </div>
            <br />
            <hr />

            <button nbButton status="primary" size="large" (click)="onSubmit()">
                {{"Tạo mới" }}
            </button>
            <button nbButton style="margin-left: 15px;" status="danger" size="large" (click)="onCancel()">
                Hủy bỏ
            </button>
        </form>
    </nb-card-body>
</nb-card>