<nb-layout windowMode>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar responsive>
    <nb-menu
      tag="sidebarMenu"
      autoCollapse="true"
      [items]="sidebarMenu"
    ></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="position-relative">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
