<nb-card>

    <nb-card-body>
        <div class="row">
            <div class="col-md-4 pb-4">
                <nb-card class="h-100">
                    <nb-card-body class="d-flex align-items-center text-white box-1">
                        <nb-icon class="icon" icon="person-outline"></nb-icon>
                        <div class="d-flex flex-column pl-4">
                            <p class="m-0 text-white">Tổng sinh viên</p>
                            <p class="m-0 text-white" *ngIf="statistics">{{statistics.totalStudent}}</p>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 pb-4">
                <nb-card class="h-100">
                    <nb-card-body class="d-flex align-items-center text-white box-2">
                        <!-- <nb-icon class="icon" icon="people-outline"></nb-icon> -->
                        <div class="d-flex flex-column pl-4">
                            <div class="row" style="margin-bottom: 10px;">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">An toàn thông tin
                                </p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.totalATTT}}</p>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Công nghệ thông tin
                                </p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.totalCNTT}}</p>
                            </div>
                            <div class="row">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Điện tử viễn thông
                                </p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.totalDTVT}}</p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-md-4 pb-4">
                <nb-card class="h-100">
                    <nb-card-body class="d-flex align-items-center box-3">
                        <div class="d-flex flex-column pl-4">
                            <div class="row" style="margin-bottom: 10px;">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Thiếu giấy tờ</p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.status1}}</p>
                            </div>
                            <div class="row">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Hoàn thành thủ tục</p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.status6}}</p>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Không nhập học</p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.status4}}</p>
                            </div>
                            <div class="row">
                                <p class="m-0 text-white" style="padding-right: 10px; width: 160px;">Nghỉ học</p>
                                <p class="m-0 text-white" *ngIf="statistics">{{statistics.status2}}</p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="border-width: 0;">
                <nb-card style="padding: 10px; height: 150px;">
                    <h6>Danh sách theo trạng thái</h6>
                    <div class="col-md-4">
                        <div class="row" fxLayout="row"  style="width: 220px;">
                            <label for="answer">Trạng thái</label>
                            <nb-select style="color: black; width: 220px;" (selectedChange)="filterStudentStatus($event)">
                                <nb-option style="color: black; width: 220px;" *ngFor="let item of status" [value]="item.id">
                                    {{item.name}}
                                </nb-option>
                            </nb-select>
                            <button nbButton style="margin-left: 230px; width: 60px; margin-bottom: 5px; margin-top: -45px;"  status="primary" size="large" (click)="onCancelStatus()">
                                {{"Huỷ" }}
                            </button>
                        </div>

                    </div>
                </nb-card>
            </div>
            <div class="col-md-8" style="border-width: 0;">
                <nb-card style="padding: 10px; height: 150px">
                    <h6>Cập nhật mã sinh viên</h6>
                    <form [formGroup]="checkoutForm">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="code">Số thứ tự khoá</label>
                                <input type="text" id="code" formControlName="code" class="form-control" placeholder="VD: 18 / Khoá AT18" />
                            </div>
            
                            <div class="col-md-4">
                                <label for="answer">Ngành</label>
                                <br/>
                                <nb-select placeholder="Ngành" id="industry_id" formControlName="industry_id" style=" width: 200px;" >
                                    <nb-option value="7480202">An toàn thông tin</nb-option>
                                    <nb-option value="7480201">Công nghệ thông tin</nb-option>
                                    <nb-option value="7520207">Điện tử viễn thông</nb-option>
                                </nb-select>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <button nbButton style="margin-left: 15px; width: 100px; margin-bottom: 5px;"  status="primary" size="large" (click)="onSubmit()">
                                        {{"Tạo mới" }}
                                    </button>
                                    <button nbButton style="margin-left: 15px;  width: 100px;" status="danger" size="large" (click)="onCancel()">
                                        Hủy bỏ
                                    </button>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                       
                    </form>
                </nb-card>
            </div>
        </div>
        <table mat-table [dataSource]="student?.data" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="full_name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Mã SV </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <ng-container matColumnDef="id_card">
                <th mat-header-cell *matHeaderCellDef> CMT/CCCD </th>
                <td mat-cell *matCellDef="let element"> {{element.id_card}} </td>
            </ng-container>

            <ng-container matColumnDef="exam_id">
                <th mat-header-cell *matHeaderCellDef> SBD </th>
                <td mat-cell *matCellDef="let element"> {{element.exam_id}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                <td [class]="roleHighlight(element.userRole)" class="font-weight-bold" mat-cell
                    *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> SĐT </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td [class]="statusHighlight(element.status)" class="font-weight-bold" mat-cell
                    *matCellDef="let element">
                    <div *ngIf="element.status == 1;">
                        Thiếu thủ thục
                    </div>
                    <div *ngIf="element.status == 2;">
                        Nghỉ học
                    </div>
                    <div *ngIf="element.status == 3;">
                        Không nộp giấy báo điểm
                    </div>
                    <div *ngIf="element.status == 4;">
                        Không nhập học
                    </div>
                    <div *ngIf="element.status == 5;">
                        Đình chỉ học
                    </div>
                    <div *ngIf="element.status == 6;">
                        Đã hoàn thành thủ tục
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Giới tính </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="date_of_birth">
                <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
                <td mat-cell *matCellDef="let element"> {{element.date_of_birth}} </td>
            </ng-container>

            <ng-container matColumnDef="birth_place">
                <th mat-header-cell *matHeaderCellDef> Nơi sinh </th>
                <td mat-cell *matCellDef="let element"> {{element.birth_place}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Sửa </th>
                <td mat-cell *matCellDef="let element">
                    <button [routerLink]="['/pages/students', element.id]" nbButton status="primary" size="small">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="paper">
                <th mat-header-cell *matHeaderCellDef> Nộp thủ tục </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="gotoItems(element.code)" nbButton status="primary" size="small">
                        <nb-icon icon="archive-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>
            <!-- [routerLink]="['/pages/paper']"  -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [length]="student?.totalRecords"
            [pageSize]="student?.pageSize" [pageIndex]="student?.pageNumber - 1" (page)="pageChange($event)">
        </mat-paginator>
    </nb-card-body>
</nb-card>