@import "../../@theme/styles/themes";

.highlight-admin, .highlight-inactive {
  color: nb-theme(text-danger-color);
}

.highlight-visitor {
  color: nb-theme(text-primary-color);
}

.highlight-collab, .highlight-active {
  color: nb-theme(text-success-color);
}
@import "../../@theme/styles/themes";

.icon {
  width: 2em;
  height: 2em;
}

.box-1 {
  background-color: nb-theme(text-primary-color);
}

.box-2 {
  background-color: nb-theme(text-success-color);
}

.box-3 {
  background-color: nb-theme(text-warning-color);
}

.box-4 {
  background-color: nb-theme(text-basic-color);
}

.box-5 {
  background-color: nb-theme(text-danger-color);
}

.box-6 {
  background-color: white;
}



