<div class="row">
    <div class="col-md-6 pb-4">
        <nb-card class="h-100" [routerLink]="['/pages/lecturer']">
          <nb-card-body class="d-flex align-items-center box-3">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">Giảng viên chủ nhiệm</p>
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6 pb-4">
        <nb-card class="h-100" [routerLink]="['/pages/question-manager']">
          <nb-card-body class="d-flex align-items-center box-3">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">Câu hỏi</p>
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- <div class="col-md-4 pb-4">
        <nb-card class="h-100">
          <nb-card-body class="d-flex align-items-center box-3" [routerLink]="['/pages/master-create']">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">Master</p> -->
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            <!-- </div>
          </nb-card-body>
        </nb-card>
      </div> -->
      <div class="col-md-6 pb-4">
        <nb-card class="h-100">
          <nb-card-body class="d-flex align-items-center box-3">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">Crawler</p>
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6 pb-4">
        <nb-card class="h-100">
          <nb-card-body class="d-flex align-items-center box-3" [routerLink]="['/pages/notification-manager']">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">Thông báo</p>
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- <div class="col-md-4 pb-4">
        <nb-card class="h-100">
          <nb-card-body class="d-flex align-items-center box-3">
            <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
            <div class="d-flex flex-column pl-4">
              <p class="m-0">...</p> -->
              <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
            <!-- </div>
          </nb-card-body>
        </nb-card>
      </div> -->
</div>