<div class="d-flex flex-column align-items-center">
  <img height="110" src="assets/images/logo.svg" />
  <h5 class="title mt-2">Quản lý nhập học</h5>
</div>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <div class="row">
    <div class="col-md-12">
      <div class="form-control-group">
        <label class="label" id="labelUser" for="input-username">Username:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.email"
          #username="ngModel"
          name="username"
          id="input-username"
          placeholder="Username"
          fieldSize="large"
          autofocus
          [status]="
            username.dirty ? (username.invalid ? 'danger' : 'success') : 'basic'
          "
          [required]="true"
          [attr.aria-invalid]="
            username.invalid && username.touched ? true : null
          "
        />
        <ng-container *ngIf="username.invalid && username.touched">
          <p class="caption status-danger" *ngIf="username.errors?.required">
            Username is required!
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-control-group">
          <label class="label" for="input-password" id="labelPassword">Password:</label>
       
            <input
              ghost
              fullWidth
              nbInput
              [(ngModel)]="user.password"
              #password="ngModel"
              name="password"
              id="input-password"
              placeholder="Password"
              fieldSize="large"
              [status]="
                password.dirty
                  ? password.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [required]="true"
              [attr.aria-invalid]="
                password.invalid && password.touched ? true : null
              "
              [type]="getInputType()"
            />
            <ng-container *ngIf="password.invalid && password.touched">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Password is required!
              </p>
            </ng-container>
          </div>
          <div>
            <nb-checkbox (checkedChange)="toggleShowPassword()">
              <label>Hiện mật khẩu</label>
            </nb-checkbox>
          </div>
        </div>
      </div>
  <br/>
  <div style="justify-content: center; text-align: center;">
    <button
    nbButton
    fullWidth
    status="primary"
    size="large"
    [disabled]="!form.valid"
  >
    Log In
  </button>
  </div>
  
</form>
