<nb-card>
    <nb-card-body>
        <div fxLayout="row" id="create">
            <button [routerLink]="['/pages/notification-create']" nbButton status="primary" size="small">
                <nb-icon icon="person-add-outline"></nb-icon>
            </button>
            <p id="txtAdd">Thêm mới</p>
        </div>

        <table mat-table [dataSource]="notifications?.data" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.content}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Loại thông báo </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="id_student">
                <th mat-header-cell *matHeaderCellDef> Mã sinh viên </th>
                <td mat-cell *matCellDef="let element"> {{element.id_student}} </td>
            </ng-container>
            <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu </th>
                <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
            </ng-container>
            <ng-container matColumnDef="end_date">
                <th mat-header-cell *matHeaderCellDef> Ngày kết thúc </th>
                <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td [class]="statusHighlight(element.status)" class="font-weight-bold" mat-cell
                    *matCellDef="let element"> {{element.status == 1 ? 'ACTIVE' : 'INACTIVE'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button [routerLink]="['/pages/notification-create', element.id]" nbButton status="primary"
                        size="small">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="notifications?.totalRecords"
            [pageSize]="notifications?.pageSize" [pageIndex]="notifications?.pageNumber - 1"
            (page)="pageChange($event)">
        </mat-paginator>
    </nb-card-body>
</nb-card>