#create {
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
}
#txtAdd {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}