
    <div *ngIf="classList.length">
        <!-- <div> {{classList[0].name}}</div> -->
        <table mat-table [dataSource]="classList" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="industry_id">
                <th mat-header-cell *matHeaderCellDef> Mã Ngành </th>
                <td mat-cell *matCellDef="let element"> {{element.industry_id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="lecturer_name">
                <th mat-header-cell *matHeaderCellDef> Giảng viên</th>
                <td mat-cell *matCellDef="let element"> {{element.lecturer_name}} </td>
            </ng-container>

            <ng-container matColumnDef="total_student">
                <th mat-header-cell *matHeaderCellDef> Số lượng SV</th>
                <td mat-cell *matCellDef="let element"> {{element.total_student}} </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button [routerLink]="['/pages/class', element.id]" nbButton status="primary" size="small">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <button (click)="openClass(element)" style="margin-left: 5px;" nbButton status="primary" size="small">
                        <nb-icon icon="eye-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsClass"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsClass;"></tr>
        </table>
    </div>
<!-- </div> -->

<form [formGroup]="checkoutForm" style="margin-top: 30px; width: 100%;">
    <div class="col">
        <nb-card class="h-400">
            <nb-card-body class="d-flex" id="box">
                <h3>Chia lớp cho sinh viên</h3>
                <h4>Nhập thông tin</h4>
                <div class="item">
                    <label for="name" class="lable">
                        Định dạng tên lớp:
                    </label>
                    <input placeholder="CT06/AT18" id="name" type="text" formControlName="nameFormat" class="lable">
                </div>
                <div class="item">
                    <label for="total_class" class="lable">
                        Số lượng lớp cần chia:
                    </label>
                    <input placeholder="1,2,3,... 10" id="name" type="text" formControlName="total_class" class="lable">
                </div>
                <div class="item">
                    <label for="industry_id" class="lable">
                        Ngành:
                    </label>
                    <select formControlName="industry_id" class="lable" ngModel>
                        <option selected value="7480202">
                            Chọn ngành
                        </option>
                        <option value="7480202">
                            An toàn thông tin
                        </option>
                        <option value="7480201">
                            Công nghệ thông tin
                        </option>
                        <option value="7520207">
                            Kỹ thuật điện tử - viễn thông
                        </option>
                    </select>
                </div>

                <button class="button" (click)="onSubmit()">Chia lớp</button>
                <button class="button" (click)="save()">Lưu</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div>
        <h3>Lớp</h3>
    </div>
    <select formControlName="class" [(ngModel)]="class" (ngModelChange)="filterStudent()">
        <option *ngFor="let item of classIndex;index as i" [value]="i">{{"Lop thu " + (i + 1)}}</option>
    </select>
    <table mat-table [dataSource]="student" class="w-100">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="full_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Mã SV </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="id_card">
            <th mat-header-cell *matHeaderCellDef> CMT/CCCD </th>
            <td mat-cell *matCellDef="let element"> {{element.id_card}} </td>
        </ng-container>

        <ng-container matColumnDef="exam_id">
            <th mat-header-cell *matHeaderCellDef> SBD </th>
            <td mat-cell *matCellDef="let element"> {{element.exam_id}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
            <td [class]="roleHighlight(element.userRole)" class="font-weight-bold" mat-cell *matCellDef="let element">
                {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> SĐT </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td [class]="statusHighlight(element.status)" class="font-weight-bold" mat-cell *matCellDef="let element">
                <div *ngIf="element.status == 1;">
                    Thiếu giấy tờ
                </div>
                <div *ngIf="element.status == 2;">
                    Nghỉ học
                </div>
                <div *ngIf="element.status == 3;">
                    Không nộp giấy báo điểm
                </div>
                <div *ngIf="element.status == 4;">
                    Không nhập học
                </div>
                <div *ngIf="element.status == 5;">
                    Đình chỉ học
                </div>
                <div *ngIf="element.status == 6;">
                    Đã hoàn thành thủ tục
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Giới tính </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="date_of_birth">
            <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
            <td mat-cell *matCellDef="let element"> {{element.date_of_birth}} </td>
        </ng-container>

        <ng-container matColumnDef="birth_place">
            <th mat-header-cell *matHeaderCellDef> Nơi sinh </th>
            <td mat-cell *matCellDef="let element"> {{element.birth_place}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openDialogChangeClass(element)" nbButton status="primary" size="small">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</form>