@import "../../@theme/styles/themes";

.highlight-admin, .highlight-inactive {
  color: nb-theme(text-danger-color);
}

.highlight-visitor {
  color: nb-theme(text-primary-color);
}

.highlight-collab, .highlight-active {
  color: nb-theme(text-success-color);
}
.lable {
  padding-right: 20px;
  padding-right: 20px;
  width: 200px;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
#box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.lable {
  padding-top: 10px;
}
.item {
  align-items: center;
  // align-self: center;
  // text-align: center;
}


