<nb-card>
    <nb-card-header style="text-align: center">{{
      "Thông tin lớp"
      }}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="classForm">
        <div class="row">
          <div class="col-md-4">
            <label for="name">Tên lớp</label>
            <input type="text" id="username" formControlName="name" class="form-control" [(ngModel)]="selectedClass.name"/>

            <br/>
            <label for="total_student">Số lượng sinh viên</label>
            <input type="number" id="total_student" formControlName="total_student" class="form-control" [(ngModel)]="selectedClass.total_student">
            
          </div>

         
          <div class="col-md-4">
            <label for="industry_name">Ngành</label>
            <input type="text" id="industry_name" formControlName="industry_name" class="form-control"  [(ngModel)]="selectedClass.industry_name"/>
            <br/>
            <label for="industry_id">Mã ngành</label>
            <input type="text" id="industry_id" formControlName="industry_id" class="form-control" [(ngModel)]="selectedClass.industry_id" />
            
          </div>
          
          <div class="col-md-4">
            <label for="lecturer_name">Giảng viên</label>
            <!-- <input type="text" id="lecturer_name" formControlName="lecturer_name" class="form-control" [(ngModel)]="selectedClass.lecturer_name"/> -->
            <br/>
            <nb-select style="color: black; width: 220px;" id="lecturer_name" formControlName="lecturer_name" >
              <nb-option style="color: black; width: 220px;" *ngFor="let item of lecturer.data" [value]="item.name">
                  {{item.name}}
              </nb-option>
          </nb-select>
          <br/>
          </div>
          
        </div>
        <br/>
        <br/>
        <button nbButton status="primary" size="large" (click)="onSubmit()">
          {{ isEdit ? "Chỉnh sửa thông tin lớp" : "Tạo lớp mới" }}
        </button>
        <button style="margin-left: 10px;" status="danger" size="large" (click)="onCancel()" nbButton>
          Hủy bỏ chỉnh sửa
        </button>
      </form>
    </nb-card-body>
  </nb-card>