<div>
    <div>
        <h4>Những giấy tờ sinh viên chưa nộp</h4>
    </div>
    <form novalidate class="checkBox" style="margin-bottom: 30px;">

        <div *ngFor="let data of paperMaster; let i=index">
            <label>
                <input type="checkbox" [value]="data.id" (change)="onCheckboxChange($event)" />
                {{data.name}}
            </label>
        </div>

        <!-- <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
      Checkbox is required, select atleast one value.
    </p> -->

        <input type="submit" value="Nộp" (click)="submitForm()" style="margin-top: 10px; background-color:rgb(12, 91, 211); width: 80px; border-radius: 10px; padding: 10px; color: #fff; border-width: 0.5;">
    </form>
</div>

<div>

    <div>
        <h4>Những giấy tờ sinh viên đã nộp</h4>
    </div>

    <div *ngFor="let data of papers; let i=index" class="checkBox">
        <label>
            <input type="checkbox" [value]="data.id" [checked]="true" disabled style="background-color: aqua;"/>
            {{data.name}}
        </label>
    </div>

</div>