.col-8 {
    float: left;
    width: 8%;
    margin-top: 5px;
}

.col-chk {
    margin-left: 150px;
}

.col-35 {
    float: left;
    width: 35%;
    margin-top: -10px;
}
.checkBox {
    margin-top: 10px;
    margin-left: 30px;
}