<nb-card>
  <nb-card-body>
    <table mat-table [dataSource]="post?.data" class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Tên bài viết </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
        <td [class]="statusHighlight(element.status)" class="font-weight-bold" mat-cell *matCellDef="let element">
          {{element.status == 1 ? 'ACTIVE' : 'INACTIVE'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td [class]="statusHighlight(element.status)" class="font-weight-bold" mat-cell *matCellDef="let element">
          <button nbButton ghost shape="round" class="ml-2"
            (click)="openChangePostStatusDialog(changePostStatusDialog,element.id)">
            <nb-icon nbTooltip="INACTIVE" *ngIf="element.status === 1" icon="close-outline" status="danger">
            </nb-icon>
            <nb-icon nbTooltip="ACTIVE" *ngIf="element.status !== 1" icon="checkmark-outline" status="success">
            </nb-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="post?.totalRecords" [pageSize]="post?.pageSize"
      [pageIndex]="post?.pageNumber - 1" (page)="pageChange($event)">
    </mat-paginator>
  </nb-card-body>
</nb-card>

<ng-template #changePostStatusDialog let-ref="dialogRef" let-data>
  <nb-card accent="danger">
    <nb-card-header>
      Are you sure want to {{data}} this user ?
    </nb-card-header>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton (click)="ref.close()" class="mr-2">No</button>
      <button nbButton status="danger" (click)="changePostStatus()">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>