<div class="container">
  <h2>Thêm phòng mới</h2>

  <form class="example-form" [formGroup]="roomForm" (ngSubmit)="onFormSubmit(roomForm.value)">

        <div class="row">
            <div class="col-md-4">
                <label for="username">Tên phòng</label>
                <input type="text" id="name" formControlName="roomname" class="form-control"/>
                <span *ngIf="!roomForm.get('roomname').valid && roomForm.get('roomname').touched">Enter room name</span>
            </div>
        </div>
        <br />
        <hr />
        <div class="button-row">
          <button nbButton type="submit" [disabled]="!roomForm.valid"color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
    <!-- <form>

      <mat-form-field class="example-full-width">
        <mat-label>Room Name</mat-label>
        <input  placeholder="Enter room name" formControlName="roomname">
        <mat-error>
          
        </mat-error>
      </mat-form-field>
      
  </form> -->
</div>
