<nb-card>
  <nb-card-header>
    <button nbButton status="success" (click)="openCreateTopicDialog(createTopicDialog)">create</button>
  </nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="topics?.data" class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button nbButton status="warning" size="small" (click)="openUpdateTopicDialog(updateTopicDialog, element)">
            <nb-icon icon="edit-2-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="topics?.totalRecords"
      [pageSize]="topics?.pageSize"
      [pageIndex]="topics?.pageNumber - 1"
      (page)="pageChange($event)">
    </mat-paginator>
  </nb-card-body>
</nb-card>

<ng-template #createTopicDialog let-ref="dialogRef">
  <nb-card accent="success">
    <nb-card-header>Create new topic</nb-card-header>
    <nb-card-body>
      <input nbInput [(ngModel)]="topic2Create.title" placeholder="Title">
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton (click)="ref.close()" class="mr-2">Cancel</button>
        <button nbButton status="success" (click)="createTopic()">Create</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #updateTopicDialog let-ref="dialogRef">
  <nb-card accent="warning">
    <nb-card-header>Update topic</nb-card-header>
    <nb-card-body>
      <input nbInput [(ngModel)]="topic2Update.title" placeholder="Title">
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton (click)="ref.close()" class="mr-2">Cancel</button>
      <button nbButton status="warning" (click)="updateTopic()">Update</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
