@import "../../@theme/styles/themes";

.highlight-admin, .highlight-inactive {
  color: nb-theme(text-danger-color);
}

.highlight-visitor {
  color: nb-theme(text-primary-color);
}

.highlight-collab, .highlight-active {
  color: nb-theme(text-success-color);
}
#create {
  margin-left: 10px;
  display: flex;
  flex-flow: row;
  text-align: center;
  align-items: center;
}
#txtAdd {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 20px;
}



