<nb-card>
  <nb-card-body>
    <div fxLayout="row" id="create">
      <button [routerLink]="['/pages/users/new']" nbButton status="primary" size="small" >
        <nb-icon icon="person-add-outline"></nb-icon>
    </button>
    <p id="txtAdd">Thêm mới</p>
    </div>
    
    <table mat-table [dataSource]="user?.data" class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="userRole">
        <th mat-header-cell *matHeaderCellDef> Quyền hạn </th>
        <td
          [class]="roleHighlight(element.role_id)"
          class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.role_id == 1 ? 'ADMIN' : 'Nhân Viên'}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> SĐT </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Giới tính </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
        <td
          [class]="statusHighlight(element.status)"
          class="font-weight-bold"
          mat-cell
          *matCellDef="let element"> {{element.status == 1 ? 'ACTIVE' : 'INACTIVE'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button [routerLink]="['/pages/users', element.id]" nbButton status="primary" size="small">
            <nb-icon icon="person-outline"></nb-icon>
          </button>
          <button [routerLink]="['/pages/users/new', element.id]" style="margin-left: 10px;" nbButton status="primary" size="small">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="user?.totalRecords"
      [pageSize]="user?.pageSize"
      [pageIndex]="user?.pageNumber - 1"
      (page)="pageChange($event)">
    </mat-paginator>
  </nb-card-body>
</nb-card>
