<nb-card>
    <nb-card-header style="text-align: center">{{
        "TẠO CÂU HỎI MỚI!"
        }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="questionForm">
            <div class="row">
                <div class="col-md-4">
                    <label for="question">Câu hỏi</label>
                    <input type="text" id="question" formControlName="question" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="answer">Câu trả lời</label>
                    <input type="text" id="answer" formControlName="answer" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label for="answer">Trạng thái</label>
                    <br/>
                    <nb-select placeholder="Trạng thái" id="status" formControlName="status" style=" width: 200px;" >
                        <nb-option value="1">Hiển thị</nb-option>
                        <nb-option value="2">Chưa hiển thị</nb-option>
                    </nb-select>
                </div>
            </div>
            <br />
            <hr />

            <button nbButton status="primary" size="large" (click)="onSubmit()">
                {{"Tạo mới" }}
            </button>
            <button nbButton style="margin-left: 15px;" status="danger" size="large" (click)="onCancel()">
                Hủy bỏ
            </button>
        </form>
    </nb-card-body>
</nb-card>