<nb-card>
    <nb-card-body>
        <div fxLayout="row" id="create">
            <button [routerLink]="['/pages/lecturer-create']" nbButton status="primary" size="small">
                <nb-icon icon="person-add-outline"></nb-icon>
            </button>
            <p id="txtAdd" >Thêm mới</p>
        </div>
          
          <table mat-table [dataSource]="lecturer?.data" class="w-100">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
      
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
      
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
      
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>
      
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td
                [class]="statusHighlight(element.status)"
                class="font-weight-bold"
                mat-cell
                *matCellDef="let element"> {{element.status == 1 ? 'ACTIVE' : 'INACTIVE'}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button [routerLink]="['/pages/lecturer-create',  element.id]" nbButton status="primary" size="small">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            [length]="lecturer?.totalRecords"
            [pageSize]="lecturer?.pageSize"
            [pageIndex]="lecturer?.pageNumber - 1"
            (page)="pageChange($event)">
          </mat-paginator>
    </nb-card-body>
</nb-card>

  