<nb-card>
  <!-- {{selectedUser|json}} -->
  <nb-card-header style="text-align: center">{{
    isEdit ? "CHỈNH SỬA THÔNG TIN NGƯỜI DÙNG" : "TẠO MỚI NGƯỜI DÙNG"
    }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-md-4">
          <label for="username">User Name</label>
          <input type="text" id="username" formControlName="username" class="form-control" [(ngModel)]="selectedUser.username"/>
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control" [(ngModel)]="selectedUser.password"/>
          <label for="name">Full Name</label>
          <input type="text" id="name" formControlName="name" class="form-control" [(ngModel)]="selectedUser.name"/>
        </div>

        <div class="col-md-4">
          <label for="address">Địa chỉ</label>
          <input type="text" id="address" formControlName="address" class="form-control" [(ngModel)]="selectedUser.address"/>
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" [(ngModel)]="selectedUser.email"/>
          <label for="phone">Điện thoại</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" [(ngModel)]="selectedUser.phone"/>
        </div>
        <div class="col-md-4">
          <label for="birthDate">Ngày sinh</label>
          <input id="birthDate" formControlName="birthDate" class="form-control" [(ngModel)]="selectedUser.birthDate"/>
          <label for="gender">Giới tính</label>
          &nbsp;
          <nb-select placeholder="Giới tính" id="gender" formControlName="gender">
            <nb-option value="nam">Nam</nb-option>
            <nb-option value="nữ">Nữ</nb-option>
          </nb-select>
          &nbsp;
          <!-- <input type="text" id="gender" formControlName="gender" class="form-control" /> -->
        </div>
      </div>
      <br />
      <label for="role_id">Quyền hạn</label>
      &nbsp;
      <nb-select placeholder="Quyền hạn" id="role_id" formControlName="role_id">
        <nb-option value="1">Admin</nb-option>
        <nb-option value="2">Nhân viên</nb-option>
      </nb-select>
      &nbsp;
      <!-- <nb-checkbox id="active" formControlName="active" status="primary">Active</nb-checkbox> -->
      <hr />

      <button nbButton status="primary" size="large" (click)="onSubmit()">
        {{ isEdit ? "Chỉnh sửa thông tin người dùng" : "Tạo mới người dùng" }}
      </button>
      <button nbButton style="margin-left: 15px;" status="danger" size="large" (click)="onCancel()">
        Hủy bỏ chỉnh sửa
      </button>
    </form>
  </nb-card-body>
</nb-card>