<nb-card>
    <nb-card-body>
        <div fxLayout="row" id="create">
            <button [routerLink]="['/pages/question-create']" nbButton status="primary" size="small">
                <nb-icon icon="person-add-outline"></nb-icon>
            </button>
            <p id="txtAdd" >Thêm mới</p>
        </div>
          
          <table mat-table [dataSource]="questions?.data" class="w-100">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="question">
              <th mat-header-cell *matHeaderCellDef> Câu hỏi </th>
              <td mat-cell *matCellDef="let element"> {{element.question}} </td>
            </ng-container>
      
            <ng-container matColumnDef="answer">
              <th mat-header-cell *matHeaderCellDef> Câu trả lời </th>
              <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
            </ng-container>
      
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td
                [class]="statusHighlight(element.status)"
                class="font-weight-bold"
                mat-cell
                *matCellDef="let element"> {{element.status == 1 ? 'ACTIVE' : 'INACTIVE'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button [routerLink]="['/pages/question-create', element.id]"  nbButton status="primary" size="small">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            [length]="questions?.totalRecords"
            [pageSize]="questions?.pageSize"
            [pageIndex]="questions?.pageNumber - 1"
            (page)="pageChange($event)">
          </mat-paginator>
    </nb-card-body>
</nb-card>

  