<nb-card>
    <nb-card-header style="text-align: center">{{
        "TẠO MỚI NGƯỜI DÙNG"
        }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="lecturerForm">
            <div class="row">
                <div class="col-md-4">
                    <label for="username">Họ và tên</label>
                    <input type="text" id="name" formControlName="name" class="form-control" [(ngModel)]="lecturer.name"/>
                    <label for="rank">Chức vụ</label>
                    <input type="text" id="rank" formControlName="rank" class="form-control" [(ngModel)]="lecturer.rank"/>
                    <label for="code">Mã giảng viên</label>
                    <input type="text" id="code" formControlName="code" class="form-control" [(ngModel)]="lecturer.code"/>
                </div>

                <div class="col-md-4">
                    <label for="address">Địa chỉ</label>
                    <input type="text" id="address" formControlName="address" class="form-control" [(ngModel)]="lecturer.address"/>
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control" [(ngModel)]="lecturer.email"/>
                    <label for="phone">Điện thoại</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control" [(ngModel)]="lecturer.phone"/>
                </div>
                <div class="col-md-4">
                    <label for="date_of_birth">Ngày sinh</label>
                    <input id="date_of_birth" formControlName="date_of_birth" class="form-control" [(ngModel)]="lecturer.date_of_birth"/>
                    <label for="gender">Giới tính</label>
                    &nbsp;
                    <nb-select placeholder="Giới tính" id="gender" formControlName="gender" [(ngModel)]="lecturer.gender">
                        <nb-option value="nam">Nam</nb-option>
                        <nb-option value="nữ">Nữ</nb-option>
                    </nb-select>
                    <br />
                    <div style="margin-top: 30px;">
                        <label for="id_faculty">Khoa</label>
                        <nb-select placeholder="Khoa" id="id_faculty" formControlName="id_faculty" style="margin-left: 35px;" [(ngModel)]="lecturer.id_faculty">
                            <nb-option value="1">Công nghệ thông tin</nb-option>
                            <nb-option value="2">An toàn thông tin</nb-option>
                            <nb-option value="2">Điện tử</nb-option>
                        </nb-select>
                    </div>

                </div>
            </div>
            <br />
            <hr />

            <button nbButton status="primary" size="large" (click)="onSubmit()">
                {{ isEdit ? "Chỉnh sửa thông tin người dùng" : "Tạo mới người dùng" }}
            </button>
            <button nbButton style="margin-left: 15px;" status="danger" size="large" (click)="onCancel()">
                Hủy bỏ
            </button>
        </form>
    </nb-card-body>
</nb-card>