<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img height="50" src="assets/images/logo.svg">
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action  (click)="navigateChat()"class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.username"
               [picture]="user?.avatar">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
