@import "../../@theme/styles/themes";

.avatar {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  width: 20%;
}

.highlight-inactive {
  color: nb-theme(text-danger-color);
}

.highlight-active {
  color: nb-theme(text-success-color);
}
