<div>
<form [formGroup]="checkoutForm" style="width: 200px;">
    <mat-dialog-content class="mat-typography" >
        <select style="width: 200px;" formControlName="class" (change)="changeClass()">
            <option *ngFor="let item of data.item.index; index as i" [value]="i">{{"lop thu" + (i+1)}}</option>
        </select>
    </mat-dialog-content>
    <mat-dialog-actions style="width: 190px;">
      <button mat-button mat-dialog-close style="margin-right: 10px;">Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()">Save</button>
    </mat-dialog-actions>
</form>
</div>

