<nb-card-header mat-dialog-title style="text-align: center">
  {{ title }}
</nb-card-header>

<nb-card-body>
  <p>{{ message }}</p>
</nb-card-body>

<div mat-dialog-actions style="justify-content: space-around">
  <button nbButton (click)="onConfirm()" status="success" size="medium">
    Đồng ý
  </button>

  <button nbButton (click)="onDismiss()" status="danger" size="medium">
    Từ chỗi
  </button>
</div>
