<div class="row">
  <div class="col-md-4 pb-4">
    <nb-card class="h-100">
      <nb-card-body class="d-flex align-items-center text-white box-1">
        <nb-icon class="icon" icon="person-outline"></nb-icon>
        <div class="d-flex flex-column pl-4">
          <p class="m-0 text-white">Người dùng</p>
          <h4 class="m-0 text-white" *ngIf="overview">{{overview.users}}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 pb-4">
    <nb-card class="h-100">
      <nb-card-body class="d-flex align-items-center text-white box-2">
        <nb-icon class="icon" icon="people-outline"></nb-icon>
        <div class="d-flex flex-column pl-4">
          <p class="m-0 text-white">Sinh viên</p>
          <h4 class="m-0 text-white" *ngIf="overview">{{overview.students}}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4 pb-4">
    <nb-card class="h-100">
      <nb-card-body class="d-flex align-items-center box-3">
        <nb-icon class="icon" icon="credit-card-outline"></nb-icon>
        <div class="d-flex flex-column pl-4">
          <p class="m-0">Tin tức</p>
          <h4 class="m-0 text-white" *ngIf="overview">{{overview.posts}}</h4>
          <!-- <h4 class="m-0" *ngIf="overview">{{overview.revenue | currency:'VND'}}</h4> -->
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 pb-6">
    <nb-card class="h-100">
      <nb-card-body class="d-flex align-items-center text-white box-4">
        <nb-icon class="icon" icon="download-outline"></nb-icon>
        <div class="d-flex flex-column pl-4">
          <div class="form-group">
            <label for="file">Chọn file dữ liệu sinh viên</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- <div class="col-md-4 pb-4">
    <nb-card class="h-100">
      <nb-card-body class="d-flex align-items-center text-white box-5">
        <nb-icon class="icon" icon="log-out-outline"></nb-icon>
        <div class="d-flex flex-column pl-4">
          <p class="m-0 text-white">TOTAL WITHDREW</p>
          <h4 class="m-0 text-white" *ngIf="overview">{{overview.totalWithdrew | currency:'VND'}}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div> -->

  <!-- <div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <chart
          *ngIf="userStructureGraph"
          [type]="userStructureGraph.type"
          [data]="userStructureGraph.data"
          [options]="userStructureGraph.options"></chart>
      </nb-card-body>
    </nb-card>
  </div> -->

  <!-- <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <chart
          *ngIf="financeGraph"
          [type]="financeGraph.type"
          [data]="financeGraph.data"
          [options]="financeGraph.options"></chart>
      </nb-card-body>
    </nb-card>
  </div> -->
  <!-- </div> -->