<ng-container *ngIf="student">
    <nb-card>
        <nb-card-body class="d-flex flex-column flex-wrap align-items-center">
            <img [src]="student.avatar || 'assets/images/kitten-corporate.png'" class="avatar">
            <h3 class="mt-1">{{student.full_name}}</h3>
            <p class="m-0">{{student.code}}</p>
            <!-- <small class="pt-2 text-secondary w-50 text-center">{{student.bio}}</small> -->
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="col">
            <nb-card>
                <nb-card-body>
                    <table class="w-100">
                        <tr>
                            <th>Status:</th>
                            <td class="pl-2 pr-2 font-weight-bold row" id="td1"
                                [class]="student.status === 1 ? 'highlight-active' : 'highlight-inactive'">
                                <div *ngIf="student.status == 1;">
                                    Thiếu thủ thục
                                </div>
                                <div *ngIf="student.status == 2;">
                                    Nghỉ học
                                </div>
                                <div *ngIf="student.status == 3;">
                                    Không nộp giấy báo điểm
                                </div>
                                <div *ngIf="student.status == 4;">
                                    Không nhập học
                                </div>
                                <div *ngIf="student.status == 5;">
                                    Đình chỉ học
                                </div>
                                <div *ngIf="student.status == 6;">
                                    Đã hoàn thành thủ tục
                                </div>
                                <form [formGroup]="form">
                                <nb-select style="color: black; width: 220px; margin-left: 10px;" id="status" formControlName="status">
                                    <nb-option style="color: black; width: 220px;" *ngFor="let item of status" [value]="item.id">
                                        {{item.name}}
                                    </nb-option>
                                </nb-select>
                            </form>
                                <button nbButton style="margin-left: 10px;" status="primary" size="large" (click)="openChangeUserStatusDialog(changeUserStatusDialog)">
                                    {{"Xác nhận" }}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td class="p-2 pl-3 pr-0">{{student.email}}</td>
                        </tr>
                        <tr>
                            <th>CMT/CCCD:</th>
                            <td class="p-2 pl-3 pr-0">{{student.id_card}}</td>
                        </tr>
                        <tr>
                            <th>SBD:</th>
                            <td class="p-2 pl-3 pr-0">{{student.exam_id}}</td>
                        </tr>
                        <tr>
                            <th>Ngành:</th>
                            <td class="p-2 pl-3 pr-0">
                                <div *ngIf="student.industry_id == 7480201;">
                                    Công nghệ thông tin
                                </div>
                                <div *ngIf="student.industry_id == 7480202;">
                                    An toàn thông tin
                                </div>
                                <div *ngIf="student.industry_id == 7480207;">
                                    Kỹ thuật điện tử, viễn thông
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td class="p-2 pl-3 pr-0">{{student.address}}</td>
                        </tr>
                        <tr>
                            <th>Birthday:</th>
                            <td class="p-2 pl-3 pr-0">{{student.date_of_birth | date}}</td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td class="p-2 pl-3 pr-0">{{student.gender}}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td class="p-2 pl-3 pr-0">{{student.phone}}</td>
                        </tr>
                    </table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</ng-container>

<ng-template #changeUserStatusDialog let-ref="dialogRef" let-data>
    <nb-card accent="danger">
        <nb-card-header>
            Are you sure want to {{data}} this user ?
        </nb-card-header>
        <nb-card-footer class="d-flex justify-content-center">
            <button nbButton (click)="ref.close()" class="mr-2">No</button>
            <button nbButton status="danger" (click)="changeUserStatus()">Yes</button>
        </nb-card-footer>
    </nb-card>
</ng-template>