@import "../../@theme/styles/themes";

.highlight-admin, .highlight-inactive {
  color: nb-theme(text-danger-color);
}

.highlight-visitor {
  color: nb-theme(text-primary-color);
}

.highlight-collab, .highlight-active {
  color: nb-theme(text-success-color);
}
#td1 {
  align-items: center;
  // align-self: center; 
}