<nb-card>
  <nb-card-header style="text-align: center">
    {{ title }}
  </nb-card-header>

  <nb-card-body>
    <p>{{ message }}</p>
  </nb-card-body>

  <nb-card-footer>
    <div class="d-flex" style="justify-content: center">
      <button nbButton (click)="onConfirm()" status="success" size="medium">
        Đồng ý
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button nbButton (click)="onDismiss()" status="danger" size="medium">
        Từ chỗi
      </button>
    </div>
  </nb-card-footer>
</nb-card>
